body {
  margin: 0;
  padding: 0;
  background: salmon;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-size: 2rem;
  color: aliceblue;
}
.section {
  text-align: center;
}
.btn {
  padding: 1rem;
  font-size: 5rem;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  filter: grayscale();
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  filter: grayscale(0);
}
.emoji_name {
  font-weight: 600;
  color: darkblue;
}
